# See https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description={{ svc_description }}
Requires={{ svc_systemd_requires }}
After={{ svc_systemd_after }}

[Service]
User={{ svc_user }}
Group={{ svc_group }}
ExecStart={{ svc_executable }} {{ svc_args }}
{% if svc_hup_reload -%}
ExecReload=/bin/kill -HUP $MAINPID
{% endif -%}
Restart={{ svc_systemd_restart }}
WorkingDirectory={{ svc_workdir }}
{{ svc_systemd_extra }}

[Install]
WantedBy=multi-user.target
